# Visual Studio
.vs/
.vscode/
bin/
obj/
*.user
*.suo
*.sln.docstates
.DS_Store

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/

# NuGet
*.nupkg
*.snupkg
.nuget/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
